@import '../../matrix/matrix.less';

.platform {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.platform__header {
  width: 100%;
  height: 100px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.platform__header-title {
  width: 30%;
  min-width: 200px;
  border: 1px solid #fff;
}

.platform__main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.platform__main_controller {
  width: 20%;
  min-width: 200px;
  height: 200px;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.window {
  width: 80%;
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.4);
}

.chat__controller {
  width: 80%;
  display: flex;
  flex-direction: row;
  height: 30px;
}

.chat__controller_input {
  width: 85%;
}

.chat__controller_emoji {
  width: 5%;
  height: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.chat__controller_button {
  width: 5%;
  height: 10%;
  //position: absolute;
  //right: 0;
}

.container {
  width: 100%;
}

.message_flex-right {
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid deepskyblue;
}

.container_right {
  display: flex;
  justify-content: flex-end;
}

.message_flex-left {
  background-color: deepskyblue;
}

.message {
  width: 30%;
  max-width: 300px;
  min-width: 100px;
  min-height: 50px;
  height: 10%;
  padding: 5px;
  overflow-x: hidden;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}


.message__owner {
  width: 100%;
  position: relative;
  margin-left: 0;
  margin-top: 0;
  font-size: 15px;
  text-decoration: underline;
}

.message__content {
  width: 100%;
  position: relative;
  vertical-align: center;
  font-size: 20px;
}

.message__date {
  width: 100%;
  position: relative;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 15px;
}