//images
@backgroundImage: '../../sourse/background.jpg';

//colors
@white: #fff;

.button {
  width: 100px;
  height: 30px;
  text-align: center;
  color: #fff;
  background-color: rgb(13, 95, 234);
}

.button:hover {
  background-color: midnightblue;
}

.active {
  background-color: deepskyblue;
}
